body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}

header {
  width: 100%;
  height: 70px;

  margin-bottom: 50px;
}

.navber h1 {
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  color: #39ca74;
}

.navber span {
  color: black;
}

.navber ul {
  width: auto;
  float: right;
  margin-top: 8px;
}

.navber li {
  display: inline-block;
  padding: 15px 30px;
}

.navber a {
  text-align: center;
  color: black;
  text-decoration: none;
}
.nav:hover {
  font-weight: bold;
  font-size: 15px;
}

.diff-color {
  color: blue;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, blue, cyan);
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}
.link-button:hover {
  text-decoration: none;
  background-image: linear-gradient(55deg, blue, cyan);
  padding: 10px 20px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  text-shadow: #39ca74;
}

.container {
  display: flex;
  margin-bottom: 50px;
}

.half-width {
  width: 40%;
  margin-left: 5%;
}
.half-width p {
  text-align: justify;
}
.middle-written {
  padding-right: 50px;
  padding-top: 100px;
}
#pic1 {
  width: 100%;
}
#pic2 {
  width: 100%;
  height: 100%;
}

#middle {
  height: 500px;
}
.txt {
  text-align: center;
}
.image {
  width: 90%;
}

.items {
  box-shadow: 10px 10px 40px gray;
  width: 40%;
  padding-left: 20px;
  padding-bottom: 20px;
  margin: 0 5%;
  border-radius: 10px;
}
.price {
  color: orange;
}
.btn {
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(42, 32, 133);
  padding: 8px 15px;
  cursor: pointer;
}

.txt-bar {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  box-shadow: 10px 10px 40px gray;
  border-radius: 20px;
}

.bottom-text h2 {
  text-align: center;
  color: black;
}

.bottom-text h3 {
  text-align: center;
  color: grey;
}

.input-box {
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid gray;
  padding: 5px;
}
.comment {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 25px;
}
footer {
  color: gray;
  text-align: center;
  background-color: black;
  padding: 2rem;
  margin: 0;
}
